<div *ngIf="user" class="container">
  <mat-icon class="icon">person</mat-icon>
  <p>{{ user.username }}</p>

  <mat-icon class="group-icon">group</mat-icon>
  <p>{{ user.role | role }}</p>

  <ng-container *ngIf="(currentUser$ | async) === false; else currentUser">
    <button mat-icon-button [matMenuTriggerFor]="userMenu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #userMenu="matMenu">
      <button mat-menu-item (click)="onEdit()">Edit</button>
      <button mat-menu-item (click)="onDelete()">Delete</button>
    </mat-menu>
  </ng-container>

  <ng-template #currentUser>
    <button mat-icon-button disabled>
      <mat-icon matTooltip="You cannot edit yourself!">more_vert</mat-icon>
    </button>
  </ng-template>
</div>
