button {
  float: right;
  color: white;
  min-width: 85px;
}

.add-button {
  background-color: #ff9060;
}

.connect-button {
  background-color: #793ff2;
}

.table-container {
  overflow: auto;
  height: 85%;
}

table {
  width: 100%;
}

.mat-column-ssid {
  min-width: 150px;
}

.mat-column-rssi,
.mat-column-channel,
.mat-column-type {
  min-width: 60px;
  text-align: center;
}

.type-icon {
  opacity: 0.8;
}

/* Scrollbar CSS  */
/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #d7d7d7 #ffffff;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background: #ffffff;
}

*::-webkit-scrollbar-thumb {
  background-color: #d7d7d7;
  border-radius: 10px;
  border: 3px solid #ffffff;
}
