<ng-container *ngIf="serverInfo; else disconnected">
  <div class="server-info">
    <div *ngIf="homeStatus">
      <mat-icon class="icon">home</mat-icon>
      <p class="state-text">{{ homeStatus.state }}</p>
    </div>
    <div class="info">
      <p>Hostname: <label>{{ serverInfo.hostname }}</label></p>
      <p>Port: <label>{{ serverInfo.port}}</label></p>
      <p>Path: <label>{{ serverInfo.path}}</label></p>
      <button mat-flat-button>Disconnect</button>
    </div>
  </div>
</ng-container>

<ng-template #disconnected>
  <div class="container">
    <div class="no-info-badge">
      <mat-icon class="icon">home</mat-icon>
      <p>Not connected</p>
    </div>
  </div>
</ng-template>
