.device-card {
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  border-radius: 35px;
  padding: 32px 46px;
}

p {
  margin: 0;
}

.name {
  font-size: 30px;
  line-height: 35px;
}

.model {
  font-size: 14px;
  line-height: 16px;
  color: rgba(0, 0, 0, 0.6);
}

app-feature-list {
  margin-top: 16px;
}
