<ng-container *ngIf="featureType$ | async as type">
  <ng-container [ngSwitch]="type">
    <app-integer-feature *ngSwitchCase="'INTEGER'" [id]="id"></app-integer-feature>
    <app-boolean-feature *ngSwitchCase="'BOOLEAN'" [id]="id"></app-boolean-feature>
    <app-button-feature *ngSwitchCase="'BUTTON'" [id]="id"></app-button-feature>
    <app-dropdown-feature *ngSwitchCase="'DROPDOWN'" [id]="id"></app-dropdown-feature>
    <app-text-feature *ngSwitchCase="'TEXT'" [id]="id"></app-text-feature>
    <app-string-feature *ngSwitchCase="'STRING'" [id]="id"></app-string-feature>
  </ng-container>
</ng-container>
