<div class="container">
  <mat-card>
    <div class="image-container">
      <img src="assets/login-preview.jpg" alt="Login page image">
    </div>
    <div class="form-container">
      <mat-progress-bar *ngIf="loading$ | async" mode="indeterminate"></mat-progress-bar>
      <div>
        <h2>Login</h2>

        <form [formGroup]="loginForm" (ngSubmit)="login()">
          <mat-form-field appearance="outline" hideRequiredMarker="true">
            <mat-label>Username</mat-label>
            <input matInput formControlName="username">
          </mat-form-field>

          <mat-form-field appearance="outline" hideRequiredMarker="true">
            <mat-label>Password</mat-label>
            <input matInput type="password" formControlName="password">
          </mat-form-field>

          <button
            mat-raised-button
            color="primary"
            type="submit"
            [disabled]="!loginForm.valid || (loading$ | async)"
          >Login</button>
        </form>
      </div>
      <mat-error *ngIf="error$ | async as error">{{ error }}</mat-error>
    </div>
  </mat-card>
</div>
