<h2>User Management</h2>

<div *ngIf="loading$ | async; else error" class="loading-container">
  <mat-progress-spinner diameter="64" mode="indeterminate"></mat-progress-spinner>
</div>

<ng-template #error>
  <div *ngIf="error$ | async as error; else users" class="error">{{ error }}</div>
</ng-template>

<ng-template #users>
  <div class="users">
    <app-user-table
      [users]="users$ | async"
      (create)="createUser()"
      (edit)="editUser($event)"
      (delete)="deleteUser($event)"
    ></app-user-table>
  </div>
</ng-template>
