h2 {
  font-size: 48px;
  line-height: 56px;
  color: rgba(0, 0, 0, 0.8);
  margin: 64px 0;
}

.loading-container {
  display: flex;
  justify-content: center;
}

.error {
  border: 1px red solid;
  padding: 12px;
  color: red;
  font-size: 16px;
  border-radius: 16px;
}

.users {
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  border-radius: 35px;
  padding: 32px 46px;
  width: min(800px, 90%);
  margin: 0 auto;
}

.add-icon {
  font-size: 32px;
  line-height: 32px;
  width: 32px;
  height: 32px;
  color: #ff9060;
}
