.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

button {
  color: white;
  background-color: #ff9060;
}

p {
  font-weight: bold;
}

label {
  font-weight: normal;
}
