<div class="container">
  <div *ngIf="loading$ | async; else loaded" class="loading">
    <mat-progress-spinner mode="indeterminate" diameter="40"></mat-progress-spinner>
  </div>

  <ng-template #loaded>
    <app-home-status></app-home-status>
    <div class="button-bar">
      <button mat-stroked-button (click)="refresh()">Refresh</button>
      <button mat-flat-button class="connect-button" *ngIf="(hasServerInfo$ | async) === false" (click)="connect()">Connect</button>
    </div>
  </ng-template>
</div>
