.container {
  display: flex;
  justify-content: center;

  & > * + * {
    margin-left: 50px;
  }
}

.icon {
  font-size: 130px;
  line-height: 130px;
  width: 130px;
  height: 130px;
}

.state-text {
  font-weight: bold;
  text-align: center;
  margin: 0;
}

.connect-container {
  display: flex;
  align-items: center;
  margin-left: 20px;
  height: 100%;

  & > button {
    color: white;
    background-color: #ff9060;
  }
}
